{% load static %}
{% load compress %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %} | {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}

        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/shoeuniverse.css' %}">
        <link href="{% static 'sass/_foundation.scss' %}" media="screen" rel="stylesheet" type="text/x-scss">
        {% endcompress %}

        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        {% block extra_css %}
        
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        
        <div class="hero grid-container-fluid" style="background-image:url({% block hero_image %}{% endblock %});">
        <div class="top-bar">
          <div class="top-bar-left">
            <ul class="menu">
              <li class="menu-title"><a href="/"><img src="/media/original_images/shoe_universe_logo_stacked_white.png" alt="Shoe Universe"/></a></li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="menu">
              <li><a href="/test-history">Test History Page</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        </div>
        <div class="main-content grid-container">
            {% block content %}{% endblock %}
        </div>
        <div class="footer grid-container-fluid">
            <div class="footer-container grid grid-x">
                <div class="footer-left cell small-12 medium-6 large-4">
                    <a href="/"><img src="/media/original_images/shoe_universe_logo_horizontal_white.png" alt="Shoe Universe"/></a>
                </div>
                <div class="footer-center cell small-12 medium-6 large-4">
                    <a><i class="fab fa-twitter"></i></a>
                    <a><i class="fab fa-facebook-f"></i></a>
                    <a><i class="fab fa-instagram"></i></a>
                </div>
                <div class="footer-right cell small-12 large-4">
                    <small>Copyright &copy; Shoe Universe 2018</small>
                </div>
            </div>
        </div>
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/shoeuniverse.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
