// Foundation Components
// --------------------------------------------------
// Behold, here are all the Foundation components.

@import '../components/bower_components/foundation-sites/scss/util/util';

.hero {
  width: 100vw;

  background-size: cover;
  background-position: center;

  @include breakpoint(medium) {
    height: 50vh;
  }

  @include breakpoint(large) {
    height: 100vh;
  }
}

.main-content {
  text-align: center;
}

.tile {
  position: relative;

  margin-bottom: 2rem;

  img {
    width: 100%;
  }

  .tile-title {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50%;
    width: 100%;

    position: absolute;
    bottom: 0;

    background-color: rgba(136,136,136,.6);
    color: white;
    font-size: 1.2rem;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;

  }
}