// Foundation Components
// --------------------------------------------------
// Behold, here are all the Foundation components.

@import '../components/bower_components/foundation-sites/scss/util/util';

.hero {
  width: 100vw;

  background-size: cover;
  background-position: center;

  @include breakpoint(medium) {
    height: 50vh;
  }

  @include breakpoint(large) {
    height: 100vh;
  }
}

.main-content {
  text-align: center;
}

.tile {
  .tile-title {
    font-size: 1.2rem;
  }
}